$highlight: #2bff6a;

// Logo
body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .nav {
  padding: 15px 0;
}

@media(min-width: 768px) {
  body {
    padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
  }

  .navbar-fixed-top .navbar-brand {
    padding: 15px 0;
  }

  .nav-products {
    color: white;
    background-color: $highlight;
  }

  .nav > li > a {
    padding:20px;
  }

  .navbar-brand {
    padding: 10px 15px 10px 15px;
  }
}